services:
  ide_api:
    build:
      context: .
      dockerfile: Dockerfile
    image: ide_service-ide_api
    environment:
      ASPNETCORE_URLS: "http://0.0.0.0:8089"

      HOST_SANDBOX_DIR: "/sandbox_host"
      CONTAINER_SANDBOX_DIR: "/sandbox_host"

      ConnectionStrings__Default: "Host=aws-1-ap-southeast-2.pooler.supabase.com;Port=6543;Database=postgres;Username=postgres.erpstsihpmfvagprbgnz;Password=***;Ssl Mode=Require;Trust Server Certificate=true; Pooling=false"

      RUNNER_IMAGE: "learnix-runner:latest"
      SANDBOX_TIMEOUT_MS: "2500"
      SANDBOX_CPU: "1.0"
      SANDBOX_MEM: "256m"
      SANDBOX_PIDS: "128"
      MAX_OUTPUT_BYTES: "1048576"
      WORKER_INTERVAL_MS: "1000"

    ports:
      - "8089:8089"

    volumes:
      - ./sandbox_host:/sandbox_host
      - /var/run/docker.sock:/var/run/docker.sock
